<div>
    <div>
        <div>
            <div>
                <div>Необходима авторизация</div>
                <p>
                    Вы не авторизованы для доступа к этому разделу.
                    Вы должны быть авторизованы, чтобы иметь возможность голосовать и оставлять свои предложения.
                    Вам необходимо иметь права администратора, чтобы управлять предложениями
                </p>
            </div>
            <div>
                <ClosePageComponent />
            </div>
        </div>
    </div>
</div>

@code {

}
